@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "poppins", sans-serif;
}

html,
body {
	height: 100%;
	/* background-color: #0d1b2a; */
	background-color: #081c15;

	display: grid;
	place-items: center;
}

.container {
	width: 400px;
	background-color: #fff;
	border-radius: 20px;
	box-shadow: 0 5px 10px rgba(255, 255, 255, 0.2);
}

.container .title {
	line-height: 80px;
	/* background-color: #1b263b; */
	background-color: #1b4332;
	color: #fff;
	padding-left: 20px;
	border-radius: 20px 20px 0 0;
	font-size: 25px;
	font-weight: 600;
	text-align: center;
}

.container form {
	padding: 30px 20px 25px 20px;
}

.container form .row {
	height: 45px;
	margin-bottom: 15px;
	position: relative;
}

.container form .row input {
	height: 100%;
	width: 100%;
	outline: none;
	padding-left: 60px;
	border: 2px solid lightgray;
	border-radius: 10px;
	font-size: 14px;
}

.container form .row i {
	position: absolute;
	width: 47px;
	height: 100%;
	/* background-color: #415a77; */
	background-color: #2d6a4f;
	color: #fff;
	/* border: 2px solid #415a77; */
	border: 2px solid #2d6a4f;
	border-radius: 10px 0 0 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.container form .forgot {
	margin: -10px 0 20px 0;
}

.container form .forgot a {
	/* color: #415a77; */
	color: #2d6a4f;
	text-decoration: none;
	transition: color 0.5s;
	font-size: 15px;
}

.container form .forgot a:hover,
.container form .forgot a:focus {
	/* color: #0d1b2a; */
	color: #081c15;
}

.container form .login input {
	padding-left: 0;
	/* background-color: #415a77; */
	background-color: #2d6a4f;
	color: #fff;
	/* border: 2px solid #415a77; */
	border: 2px solid #2d6a4f;
	cursor: pointer;
	font-size: 16px;
	transition: background-color 0.5s;
}

.container form .login input:hover,
.container form .login input:focus {
	background-color: #1b4332;
}

.container form .sign-up {
	text-align: center;
	margin-top: 20px;
}

.container form .sign-up a {
	/* color: #415a77; */
	color: #2d6a4f;
	text-decoration: none;
	transition: color 0.5s;
}

.container form .sign-up a:hover,
.container form .sign-up a:focus {
	/* color: #0d1b2a; */
	color: #081c15;
}
